node_modules
**/node_modules

.next
**/.next
dist
**/dist
coverage
**/coverage
**/target
**/.gradle
**/build
**/local.properties
supabase/*remote*.sql
tmp

.git
.gitignore
.gitnexus
.claude
.agents

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Dockerfile
.dockerignore
